  <div	class="card-content">
          <div	class="card-img">
                  <img	src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSHL20sic6LcCf3Ut21twCNrkMpy84Mdebmjw&usqp=CAU"	alt="medellin">
                  <span><h4>{{position}}</h4></span>
          </div>
          <div	class="card-desc">
                  <h3>{{destino.nombre}}</h3>
                  <p>Servicios</p>
                  <ul>
                    <li *ngFor="let s of destino.servicios;">
                        <span class="container" [ngSwitch]="s">
                            <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}} *</i>
                            <i *ngSwitchDefault>{{ s }}</i>
                        </span>
                    </li>
                </ul>
                <div>
                  <a href="#" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i> </a>
                  <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i> </a>
                  {{destino.votes}}

                </div>
                <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">IR!</a>
        <span *ngIf="destino.isSelected()">
            <span ngNonBindable>{{ PREFERIDO }}</span>
        </span>
        <a [routerLink]="['/destino, destino.id']">Ver!</a>
          </div>
  </div>


